* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/*.box {
    height: 120px;
    width: 230px;
    background-color: rgb(68, 169, 236);
    border: 1px solid black;

    object-fit: cover;
}*/

/*HEADER*/
header {
    height: 140px;
    background-color: rgb(212, 211, 211);
}

.head-top {
    width: 100%;
    height: 40px;
    background-color: black; 
    text-align: right;
    line-height: 40px;
}


.logo {
    width: 75px;
}

.ms_btn_red {
    background-color: rgb(255, 38, 0);
    color: white;
}



/*JUMBO*/

.jumbo {
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.row-games {
    background-color: lightskyblue;
}

.row-games img {
    width: 100%;
    height: 100%;

    
}


/*SECTION-1*/
.section-1 {
    background-color: mediumseagreen;
}

/*SECTION-2*/
.section-2 {
    background-color:mediumslateblue;
}

/*SECTION-3*/
.section-3 {
    background-color:violet; 
}

/*SECTION-4*/
.section-4 {
    background-color: turquoise;
}

/*SECTION-5*/
.section-5 {
    background-color: rgb(162, 109, 231);
}

/*SECTION-6*/
.section-6 {
    background-color: limegreen;
}

/*SECTION-7*/
.section-7 {
    background-color: rgb(84, 192, 224);
}

/*SECTION-8*/
.section-8 {
    background-color: rgb(133, 84, 224);
}

/*SECTION-9*/
.section-9 {
    background-color: rgb(84, 224, 147);
}

/*FOOTER*/
footer {
    height: 600px;
    background-color: rgb(43, 41, 41);
}
.footer-top {
    background-color: lightslategray;
}

.footer-bottom {
    background-color:
}