* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/
header {
    height: 150px;
    background-color: grey;
}

.head-top {
    height: 50px;
    background-color: black; 
}


/*JUMBO*/

.jumbo {
    height: 600px;
    background-color:rgb(70, 68, 68);
}
