* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: grey;
}

.head-top {
    height: 50px;
    background-color: black; 
}

.head-bottom {
    height: 100px;
    background-color: rgb(216, 214, 214); 
}